<?php
/**
 * Copyright © 2015 PlazaThemes.com. All rights reserved.

 * @author PlazaThemes Team <contact@plazathemes.com>
 */
if($this->getConfig('enable_frontend')):
	$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
	$image = 'category_page_grid';
	$_itemHelper = $this->helper('Magento\Catalog\Helper\Product');
	$block = $this->getBlockProduct();
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	$auto = $this->getConfig('auto');
	if($auto)
		$auto = 'true';
	else
		$auto = 'false';
	$default = $this->getConfig('default');
	$desktop = $this->getConfig('desktop');
	$desktop_small = $this->getConfig('desktop_small');
	$tablet = $this->getConfig('tablet');
	$mobile = $this->getConfig('mobile');
	$rows = $this->getConfig('rows');
	$show_next_back = $this->getConfig('show_next_back');
	$pagination = $this->getConfig('pagination');
	if($this->getConfig('speed'))
		$speed = $this->getConfig('speed');
	else
		$speed = '3000';
	if($show_next_back)
		$show_next_back = 'true';
	else
		$show_next_back = 'false';
	$show_navigation_control = $this->getConfig('show_navigation_control');
	if($show_navigation_control)
		$show_navigation_control = 'true';
	else
		$show_navigation_control = 'false';
	$show_add_cart = $this->getConfig('addtocart');
	$showWishlist = $this->getConfig('wishlist');
	$showCompare = $this->getConfig('compare');
?>
<div class="pt-randomproduct-container module-sidebar module-nav2">
	<div class="group-title1"><h2><?php echo $this->getConfig('title') ?></h2></div>
	<div class="owl-container">
		<div id="randomproduct_slider" class="owl-carousel">
		<?php
		$i = 0;
		$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
		 foreach($this->getProducts() as $_item)
		{
			$productImage = $_imagehelper->init($_item, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(450)->getUrl();
			?>
			<?php
			if($i%$rows == 0){
			?>
			<div class="item product">
			<?php } ?>
				<div class="item-inner">
					<div class="image-container">
						<a href="<?php echo $_item->getProductUrl() ?>">
							<img src="<?php echo $productImage; ?>" alt=""/>
						</a>
						
					</div>
					<div class="des">
						<div class="product-name">
							<strong class="product-item-name">
								<a href="<?php echo $_item->getProductUrl() ?>"><?php echo $_item->getName() ?></a>
							</strong>
						</div>
						<?php if ($templateType): ?>
								<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
							<?php endif; ?>
						<?php
							echo $block->getProductPrice($_item)
						?>
						<div class="actions"> 
							<?php if ($show_add_cart): ?>
								<div class="actions-primary">
									<?php if ($_item->isSaleable()): ?>
										<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
											<button class="action tocart"
													data-mage-init='{"redirectUrl":{"url":"<?php echo $block->getAddToCartUrl($_item) ?>"}}'
													type="button" title="<?php echo __('Add to Cart') ?>">
												<span><?php echo __('Add to Cart') ?></span>
											</button>
										<?php else: ?>
											<?php
												$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
												$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
											?>
											<button class="action tocart"
													data-post='<?php echo $postData; ?>'
													type="button" title="<?php echo __('Add to Cart') ?>">
												<span><?php echo __('Add to Cart') ?></span>
											</button>
										<?php endif; ?>
									<?php else: ?>
										<?php if ($_item->getIsSalable()): ?>
											<div class="stock available"><span><?php echo __('In stock') ?></span></div>
										<?php else: ?>
											<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
										<?php endif; ?>
									<?php endif; ?>
								</div>
							<?php endif; ?> 
							
							<?php if ($showWishlist || $showCompare): ?>
								<div class="add-to-links" data-role="add-to-links">
									<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
										<a href="#"
										   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
										   class="action towishlist" data-action="add-to-wishlist"
										   title="<?php echo __('Add to Wishlist') ?>">
											<span><?php echo __('Wishlist') ?></span>
										</a>
									<?php endif; ?>
									<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
										<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
										<a href="#" class="action tocompare"
										   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
										   title="<?php echo __('Add to Compare') ?>">
											<span><?php echo __('Compare') ?></span>
										</a>
									<?php endif; ?>
								</div>
							<?php endif; ?> 
						</div>
					</div>
					
					
					
				</div>
			<?php if($i%$rows == $rows - 1): ?>	
			</div>
		
		<?php
		endif;
		$i++;
		}
		?>
		</div>
	</div>
</div>
<script type="text/javascript">
	require([
  "jquery",
  "owlcarousel/minjs"
 ], function($,owlCarousel){
		$(document).ready(function(){
			$("#randomproduct_slider").owlCarousel({
				<?php
					if(($auto== 'true') && $speed):
				?>
				autoPlay : <?php echo $speed; ?>,
				<?php
					endif;
				?>
				items : <?php echo $default; ?>,
				itemsDesktop : [1199,<?php echo $desktop; ?>],
				itemsDesktopSmall : [991,<?php echo $desktop_small; ?>],
				itemsTablet: [767,<?php echo $tablet; ?>],
				itemsMobile : [479,<?php echo $mobile; ?>],
				slideSpeed : <?php echo $pagination; ?>,
				paginationSpeed : <?php echo $pagination; ?>,
				rewindSpeed : <?php echo $pagination; ?>,
				addClassActive: true,
				navigation : <?php echo $show_next_back; ?>,
				stopOnHover : true,
				pagination : <?php echo $show_navigation_control; ?>,
				scrollPerPage:false,
			});
		});
	});
</script>
<?php
endif;
?>