	<div class="pt_categorytop catlist">
	<div class="container">
	<div class='group-title1'>
		<h2><?php echo __('Discover by Categories') ?></h2>
	</div>
	<div class="owl-container">
	<div class="content">
	<?php

	$catListTop = $block->getCatListTop();
	$rows = 2;
	$i = 0;
	$last = count($catListTop);
	foreach ($catListTop as $catTop) {
		//echo "<pre>"; print_r($catTop->getData()); echo "</pre>";
		$thumb_nail_url = $block -> getThumbUrl($catTop->getCattopImage());
		?>
		<?php if($i++%$rows==0) { ?> <div class="product_row"> <?php } ?>
			<div class="catgrid">
				<div class="catlist_images">
					<a href="<?php echo $catTop->getUrl() ?>">
						<img class="thumb" src="<?php echo $thumb_nail_url; ?>" alt="<?php echo $catTop->getName(); ?>" />
					</a>
				</div>
				<div class="catlist_name">
					<a class="name" href="<?php echo $catTop->getUrl() ?>">
						<?php echo $catTop->getName() ?>
					</a>
				<?php
					$CatList = $block->getCatByPath((int) $catTop->getId(), $catTop->getPath());
					$j = 0;
					echo '<ul>';
					foreach ($CatList as $cat) {
					  if($j >= 5) break;
						echo '<li><a href="#">'.$cat->getName().'</a></li>';
						$j++;
					}
					
					echo '
					<li><a href="'.$catTop->getUrl().'">More Categories</a></li>
					</ul>';
					$j++; 
				?>
				</div>
			</div>
		<?php if($i%$rows==0 || $i == count($catListTop)) { ?> </div> <?php }?>
	   <?php
	}
	?>
	</div>
	</div>
	</div>
</div>
<script type="text/javascript">
require([
  "jquery",
  "owlcarousel/minjs"
 ], function($,owlCarousel){
	
   $(".pt_categorytop .content").owlCarousel({ 
		autoPlay : false,
		slideSpeed : 500,
		navigation : false,
		stopOnHover : true,
		pagination : false,
		items : 3,
		itemsDesktop : [1199,2],
		itemsDesktopSmall : [991,2],
		itemsTablet: [767,2],
		itemsMobile : [568,1],
		addClassActive : true,
		scrollPerPage:false
   });
   
});
</script>   