<?php
	$data = $block->getConfig('status');
	if(!$block->getConfig('status')) return ; 
	$items = $block->getItemsActive();
	$itemsActive = json_decode($items); 
	$htmlLink = array();
?>



<?php if(count($itemsActive)): ?>
		<nav class="ma-nav-mobile-container hidden-lg hidden-md" >
			<ul id="ma-mobilemenu" class="mobilemenu">
				<?php echo $block->generateHtmlMobileMenu();  ?>
			</ul>
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('pt_menu_links_lavante3')->toHtml();?>
		</nav>
<?php endif ?>

