<?php 
	$enable = $block->getConfig('enabled');
	if($enable < 1) return ; 
	$speed = $block->getConfig('speed');
	$showCart = $block->getShowAddtocart(); 
	$showWishlist = $block->getShowWishlist();
	$showCompare = $block->getShowCompare();
	$show_navigation = $block->getConfig('navigation');
	$show_pagination = $block->getConfig('pagination');
	$auto = $block->getConfig('auto');
	$itemsDefault = $block->getItemsDefault();
	$itemsDesktop = $block->getItemsDesktop();
	$itemsDesktopSmall = $block->getItemsDesktopSmall();
	$itemsTablet = $block->getItemsTablet();
	$itemsMobile = $block->getItemsMobile();
	$title = $block->getTitle(); 
	$identify = trim($block->getIdentify()); 
	$categoryIds = $block->getCategoryIds();
	$categoryIds = explode(',', $categoryIds);

	$productsOnRow = 2 ;
	if(!$productsOnRow) $productsOnRow = 3;

?>

<div class="bestcat-container  module-nav2">
<div class="container">
	<div class='group-title1'>
		<h2><?php echo __($title) ?></h2>
	</div>
	
     <?php 
		
		$imageBlock =  $block->getLayout()->createBlock('Magento\Catalog\Block\Product\Image');
		$image = 'new_products_content_widget_grid';
		$type = 'widget-new-grid';
		$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
		
	?>
	<div class="bestcat_container"> 
		<div class="owl-container">
		<div class="best_category_slider">
			<?php foreach($categoryIds as $cate_id) { 
				$cate_model =  $block->getCategory($cate_id);
				$cate = $cate_model->load($cate_id);
				$bestcat_image = $block -> getCatetabImage($cate->getBestcatImage());
			?>
			<div class="col">
				<div class="col-image">
					<?php if ($bestcat_image ): ?>
						<img alt="<?php echo $cate->getName(); ?>" src="<?php echo $bestcat_image ?>"/>
					<?php endif; ?>
					<h2><?php echo $cate->getName(); ?></h2>
				</div>
				<div class="col-product">
					<div class="product_row">
					<?php 
						$newItems =  $block -> getProductCate($cate_id)->getItems(); 
						$i=0;
						$j = 0;
						$myHelper = $this->helper('Plazathemes\Themeoptions\Helper\Data');
						$count = 0;
						foreach($newItems as $_item) { 
							$productImage = $block->getImage($_item, $image);
							if($_item->getRotaryImage() && $_item->getRotaryImage() != 'no_selection')
								$imageRotary = $myHelper->getMedia_Url().'catalog/product/'.$_item->getRotaryImage();
							else
								$imageRotary = '';
							if($count == 0){
								?>
									<div class="big-product">
								<?php
							}elseif($count == 1){
								?>
									<div class="small-product">
								<?php
							}
						?>
						<div class="items">	
							<div class="item product">
								<div class="item-inner">
									 
									<div class="image-container">
										<a href="<?php echo $block->getProductUrl($_item) ?>" class="product-item-photo">
											<?php echo $productImage->toHtml() ?>
											<?php if($imageRotary): ?>
												<span class="image-rotate">
													<img src="<?php echo $imageRotary; ?>" alt="rotate image"/>
												</span>
											<?php else: ?>
												<span class="image-rotate">
													<?php echo $productImage->toHtml() ?>
												</span>
											<?php endif; ?> 
										</a>
										
										<div class="quick-view"></div>
									</div>
									<div class="des">
										<div class="product-name">
											<strong class="product-item-name">
												<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
												   href="<?php echo $block->getProductUrl($_item) ?>"
												   class="product-item-link">
													<?php echo $block->escapeHtml($_item->getName()) ?>
												</a>
											</strong>
										</div>
										 <?php if ($templateType): ?>
											<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
										<?php endif; ?>
										 <?php
											echo $block->getProductPrice($_item);
										 ?>
										
										
										<div class="actions">
											<?php if ($showCart): ?>
												<div class="actions-primary">
													<?php if ($_item->isSaleable()): ?>
														<?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
															<button class="action tocart primary"
																	data-mage-init='{"redirectUrl":{"url":"<?php echo $block->getAddToCartUrl($_item) ?>"}}'
																	type="button" title="<?php echo __('Add to Cart') ?>">
																<span><?php echo __('Add to Cart') ?></span>
															</button>
														<?php else: ?>
															<?php
																$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
																$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
															?>
															<button class="action tocart"
																	data-post='<?php echo $postData; ?>'
																	type="button" title="<?php echo __('Add to Cart') ?>">
																<span><?php echo __('Add to Cart') ?></span>
															</button>
														<?php endif; ?>
													<?php else: ?>
														<?php if ($_item->getIsSalable()): ?>
															<div class="stock available"><span><?php echo __('In stock') ?></span></div>
														<?php else: ?>
															<div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
														<?php endif; ?>
													<?php endif; ?>
												</div>
											<?php endif; ?>
											<?php if ($showWishlist || $showCompare): ?>
												<div class="actions-secondary add-to-links" data-role="add-to-links">
													<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
														<a href="#"
														   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
														   class="action towishlist" data-action="add-to-wishlist"
														   title="<?php echo __('Add to Wishlist') ?>">
															<span><?php echo __('Add to Wishlist') ?></span>
														</a>
													<?php endif; ?>
													<?php if ($block->getAddToCompareUrl() && $showCompare): ?>
														<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
														<a href="#" class="action tocompare"
														   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
														   title="<?php echo __('Add to Compare') ?>">
															<span><?php echo __('Add to Compare') ?></span>
														</a>
													<?php endif; ?>
												</div>
											<?php endif; ?>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						
						<?php 
							if($count == 0){
								?>
									</div>
								<?php
							}elseif($count == 3){
								?>
									</div>
								<?php
							}
							$count++;
						}
						if($count > 1 && $count != 4){
							?>
								</div>
							<?php
						}
					?>
					</div>	
				</div>		
			</div>
			 <?php }?>
		</div>
	</div> <!-- .tab_container --> 
</div>
</div>
</div>
<script type="text/javascript">
require([
  "jquery",
  "owlcarousel/minjs"
 ], function($,owlCarousel){

	$(".best_category_slider").owlCarousel({
	    items : <?php echo $itemsDefault ?>,
		autoPlay : <?php if($auto) echo 'true'; else echo 'false'; ?>,
		slideSpeed : <?php if($speed) echo $speed; else echo '500'; ?>,
		navigation : <?php if($show_navigation) echo 'true'; else echo 'false'; ?>,
		stopOnHover : true,
		pagination : <?php if($show_pagination) echo 'true'; else echo 'false'; ?>,
		itemsDesktop : [1199,<?php echo $itemsDesktop ?>],
		itemsDesktopSmall : [991,<?php echo $itemsDesktopSmall ?>],
		itemsTablet: [767,<?php echo $itemsTablet ?>],
		itemsMobile : [479,<?php echo $itemsMobile ?>],
		addClassActive : true,
		scrollPerPage:false
		
	});
	
});
 

</script> 
